.navbar{
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #282c34;
    color: white;
    margin: 0;
}
.navbar__item{
    margin-top: 20px;
    padding:  20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
}
.navbar__item:hover{
    border: 1px solid white;
}